extends layout

block css
  != CDN('/css/error.css')

block footerimagecontent
  .horiz-center
    .title
      h1 :(

    .subtitle
      p Something went wrong.<br/> Either this page does not exist or an error prevented us from showing it to you.
