extends layout

block css
  != CDN('/css/home.css')

block splash
  block splash.titleimage

block content

  .events.verticalgrid
        .horiz-center.container
        .sectionTitle
          p We are at the center of UW's Entrepreneurship Community
        p StartupUW brings entrepreneurs and the startup community at UW together. </br> We host events throughout the school year with this goal in mind.

  .events.verticalgrid.dark
      .horiz-center
        .sectionTitle
          p Regular and Upcoming Events
        .verticalgrid.pure-u-1.pure-u-md-1-6.img-rounded
          != CDN('/img/logo/tigerlaunch.png', { 'width': '50%', class: 'img-rounded'})
          h2 TigerLaunch Regionals
          p The west coast regional competition.
          .inks
        .verticalgrid.pure-u-1.pure-u-md-1-6.img-rounded
          != CDN('/img/logo/new.png', { 'width': '50%', class: 'img-rounded'})
          h2 Meet Your Co-Founder
          p Meet your next great startup partner.
          .links
        .verticalgrid.pure-u-1.pure-u-md-1-6.img-rounded
          != CDN('/img/other/rocket.png', { 'width': '50%', class: 'img-rounded'})
          h2 Speaker Series
          p Learn from the CEO of a local startup.
          .links

  .events.verticalgrid.blue
      .horiz-center.container
        .sectionTitle
          p We aspire to create. We are doers.
        p Our members inspire each other to achieve more in their ventures. In other words, we don't just 'say'; Rather, we do what we must to build something better. Together, we aspire to build new enterprises that will create a brighter future.
  .events.verticalgrid.image.image-home2
  .events.verticalgrid
      .horiz-center.container
        .sectionTitle
          p We cultivate a community.
        p Our events bring together the doers. Techies, business people, designers, inventors, and people of a variety of other majors at UW are welcome. We help you connect with who you need to be successful.
  .events.verticalgrid.image.image-home1
  .events.verticalgrid.dark
    .horiz-center.container
      .sectionTitle
        p We aim to succeed.
      p Have a business plan or just an idea that needs capital to succeed? Come to a pitch night and try it out in front of investors and peers. If your plan is well-thought-out, you might see money coming your way to make that plan a reality.
  .events.verticalgrid.image.image-Tigerlaunch

  .filler(style="min-height: 130px;")

block footerimagecontent
  section#interested
    .interested
      h1 Interested?

      a.button.large.blue(target="_blank" href="/join") Learn More
