extends layout

block css
  != CDN('/css/join.css')

block splash
  .title
    h1= title.toUpperCase()
  .subtitle
    p Getting involved with Startup UW and the Seattle Entrepreneurial community
    
block content

  section#about
    h1 We are an open community of students driven by startup culture, and we'd love to have you on board 

    p StartupUW is commited to hosting quality events that give you the oppurtunity to learn, expand your network, get inspired, and, most importantly, create. To learn more about membership, and stay in the loop about everythin we are working on, subscribe to our newsletter below.
    
    a.button.large(target="_blank" href='#{NEWSLETTER_URL}') Subscribe To Our Newsletter 
  
    h1 Ready to take the next step? 
    
    p Becoming a member of startupUW is easy. To gain access to all our exclusive events (which include free food), a sweet startupUW t-shirt, and member only internship resources, all you need to do is venmo @StartupUW $25, and include your name and UW email address in the comment (we will get back to you within 24 hours with a confirmation email). You can also join by paying with cash/card at any event.
    
    p Any questions? We are always happy to help, email us at team@startupuw.com, or hit us up at any of the links below. 
    
    p Interested in becoming the Freshman representative on the StartupUW Exec Team? Check out the Team page for more info! 
