extends layout

block css
  != CDN('/css/team.css')
  != CDN('/css/join.css')

block splash
  .title
    h1= title.toUpperCase()
  .subtitle
    p Keep up to date with our events and community.
    
block content

  section#about
    h1 Step 1: Subscribe to our Newsletter

    p Well keep you updated on our latest public events.
    
    a.button.large(target="_blank" href='#{NEWSLETTER_URL}') Subscribe To Our Newsletter 
  
  .becomeamember.dark
    section#about
      h1 Step 2: Become a Member
      
      p Membership includes:

      .horiz-center
        .team.pure-u-1.pure-u-md-1-4
          != CDN('/img/other/handshake.jpg', { 'width': '100%' , 'class':'img-circular'})
          h2 Connections
          p Connect with local companies and fellow entrepreneurs in your area. Find <b>internships</b> or other opportunities from those important connections.
          .links
        .team.pure-u-1.pure-u-md-1-4
          != CDN('/img/logo/rocket.png', { 'width': '100%' , 'class':'img-circular'})
          h2 Community
          p Meet the large community of entrepreneurs on campus. We host several events in which you can find someone to work with on that bright new idea of yours.
          .links
        .team.pure-u-1.pure-u-md-1-4
          != CDN('/img/other/rocket.png', { 'width': '100%' , 'class':'img-circular'})
          h2 Private Events
          p Events include meet your cofounder, Tigerlaunch, private talks with local entrepreneurs, pitch nights, build your own business (BYOB), and more!
          .links

  .filler(style="min-height: 130px;")

block footerimagecontent
  .horiz-center
    .no-top-margin
      p <b>Becoming a member is easy. Venmo us $25, and include your UW email and name in the comment.</b> We'll get back to you within a day.</br></br>

    a.button.large.blue(target="_blank" href='https://venmo.com/startupuw') Venmo @StartupUW 

    br

    br

    .smalltext.no-bottom-margin
      p Any questions? We are always happy to help! Email us at startup@uw.edu.