extends layout

block css
  != CDN('/css/join.css')

block splash
  .title
    h1= title.toUpperCase()
  .subtitle
    p Getting involved with Startup UW and the Seattle Entrepreneurial community
    
block content

  section#about
    h1 We are an open community of students driven by startup culture, and we'd love to have you on board 

    p StartupUW is commited to hosting quality events that give you the oppurtunity to learn, expand your network, get inspired, and, most importantly, create. 
