extends layout

block css
    link(rel='stylesheet', href='/css/team.css')

block splash
  .title
    h1= title.toUpperCase()

  .subtitle
    p Who we are and what we do.

block content

  .top
    h1 Meet Our Executives

  .container.pure-g
    .team.pure-u-1.pure-u-md-1-4
      != CDN('/img/team/matt.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Matt Koenig
      h2 President
      p Matt Koenig is a sophomore in the foster school of business and is president of Startup UW. He's founded multiple small software projects and currently works in business development at a SAAS startup.
      .links
        a(target="_blank" href="mailto:koenigmatt24@gmail.com"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/mattkoenig4?fref=ts"): i.fa.fa-facebook-square
    .team.pure-u-1.pure-u-md-1-4
      != CDN('/img/team/nihar.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Nihar Baxin
      h2 Vice President
      p Nihar is a junior pursuing marketing and information systems in the Foster School of Business. He enjoys meeting new people and is always looking to discuss new startup ideas. Alongside Startup UW, Nihar is also on the organizing team for DubHacks. In his free time, Nihar likes to play soccer and learn about iOS app development.
      .links
    .team.pure-u-1.pure-u-md-1-4
      != CDN('/img/team/ayush.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Ayush Saraf
      h2 Tigerlaunch
      p Ayush is a junior studying Computer Science at UW. He has been very actively involved in the startup culture and has attended many Hackathons and conferences. He is also an executive member at Lavin Entrepreneurship Program. Ayush himself started a startup called <a target="_blank" href="http://justaced.com">Aced</a> that offers on-demand tutoring on UW campus.
      .links
        a(target="_blank" href="http://ayush.xyz"): i.fa.fa-user
        a(target="_blank" href="mailto:ayush29f@uw.edu"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/ayush29feb"): i.fa.fa-facebook-square
        a(target="_blank" href="https://www.linkedin.com/in/ayush29feb"): i.fa.fa-linkedin-square
        a(target="_blank" href="https://github.com/ayush29feb/"): i.fa.fa-github-square
        a(target="_blank" href="https://medium.com/@ayush29feb"): i.fa.fa-medium
        a(target="_blank" href="http://twitter.com/ayush29feb"): i.fa.fa-twitter-square
    .team.pure-u-1.pure-u-md-1-4
      != CDN('/img/team/david.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 David Yuan 
      h2 Communications
      p David is a Sophomore pursuing a dual degree in business and Informatics. Last summer, David worked as a data science research assistant in the Informatics DataLab, where he analyzed the network characteristics of Twitter users who participate in rumor propagation. Outside of the classroom, David spends most of his free time working on various coding projects.
      .links
        a(target="_blank" href="mailto:yuand@uw.edu"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/david.yuan.503092"): i.fa.fa-facebook-square
        a(target="_blank" href="https://www.linkedin.com/in/davidnyuan"): i.fa.fa-linkedin-square
    .team.pure-u-1.pure-u-md-1-4
      != CDN('/img/team/nika.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Nika Stump
      h2 Human Resources & Financial
      p Veronika is a senior studying Finance at Fosters. She previously interned with Ogilvy and Mather and is currently an intern at Freestone Capital Management. As a half-Russian, half-American student, she is interested in learning from the startup community in Seattle and one day exploring the same opportunities in Russia.
      .links
    .team.pure-u-1.pure-u-md-1-4
      != CDN('/img/team/alisa.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Alisa Kean 
      h2 Marketing
      p Alisa is currently a junior pursuing a degree in Informatics with a minor in digital arts and experimental media. She has built up experience in marketing through being a part of the Special Projects group at Postmates, as well as Brand Educator at Vita Coco. Startup culture is something that has interested her since high school.
    .team.pure-u-1.pure-u-md-1-4
      != CDN('/img/team/thiemo.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Thiemo loos
      h2 Events
      p Thiemo is a sophomore at the Foster School of Business pursuing a dual degree in both finance and chemistry. He has worked on a coffee ground biodiesel startup, both helping to refine the chemical process and collect seed resources. Currently is interning with Ameriprise Financial. When he has time he likes to go to concerts.   
      .links
    .team.pure-u-1.pure-u-md-1-4
      != CDN('/img/team/kory.png', { 'width': '100%' , 'class':'img-rounded'})
      h1 Kory Watson
      h2 Web Design / Maintinence
      p Kory is a first year  Computer Engineering major. His interests lie in startups and working with lower-level programming languages. He has intered at five different companies in the past, including Microsoft and Blue Origin. This summer, he will be an intern at Google.
      .links
        a(target="_blank" href="http://korywatson.com/"): i.fa.fa-user
        a(target="_blank" href="mailto:korywat@uw.edu"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.linkedin.com/in/korywatson"): i.fa.fa-linkedin-square
        a(target="_blank" href="https://github.com/kory/"): i.fa.fa-github-square
    .team.pure-u-1.pure-u-md-1-4
      != CDN('/img/team/trevor.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Trevor Shibley
      h2 DevOps
      p Trevor is a sophomore at UW majoring in computer science, with interests in entrepreneurship and project management. He's is currently working as a software engineering intern at Pure Storage, and in his free time enjoys skiing, mountain biking, traveling. 
      .links
        a(target="_blank" href="http://shibley.xyz"): i.fa.fa-user
        a(target="_blank" href="mailto:tshibley@uw.edu"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/trevor.shibley"): i.fa.fa-facebook-square
        a(target="_blank" href="https://www.linkedin.com/in/trevorshibley"): i.fa.fa-linkedin-square
        a(target="_blank" href="https://github.com/tshibley/"): i.fa.fa-github-square
        a(target="_blank" href="http://twitter.com/TrevorShibley"): i.fa.fa-twitter-square
        a(target="_blank" href="http://instagram.com/tshibles"): i.fa.fa-instagram
    .team.pure-u-1.pure-u-md-1-4
      != CDN('/img/team/mike.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Mike Guevarra
      h2 Sponsorship
      p Mike is a Foster Business School student concentrating in Marketing and Information Systems. Some of his other interests include competing in business case competitions, weight training, and travel/street photography. Mike joined Startup UW because of the fun and productive atmosphere of the club.
      .links
        a(target="_blank" href="mailto:mikejguevarra@outlook.com"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/mike.guevarra.35"): i.fa.fa-facebook-square
        a(target="_blank" href="https://www.linkedin.com/in/mikejguevarra"): i.fa.fa-linkedin-square
    .team.pure-u-1.pure-u-md-1-4
      != CDN('/img/team/wendy.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Wendy Leuthold
      h2 Director of Operations
      p Wendy Leuthold is a senior studying business with an emphasis in entre. She is passionate about empowering women and POC communities in Seattle, having experience interning for local nonprofits that provide educational and financial support to minority entrepreneurs. Outside of the classroom she is currently in the process of producing her first feature film.
      .links
        a(target="_blank" href="https://www.linkedin.com/in/wendyleuthold/"): i.fa.fa-linkedin-square
        a(target="_blank" href="mailto:wendyleu@uw.edu"): i.fa.fa-envelope-square
    .team.pure-u-1.pure-u-md-1-4
      != CDN('/img/team/kertsin.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Kerstin Huang
      h2 Design
      p Kerstin is a Sophmore, and is currently an Informatics major focusing in Human Computer Interaction with interests in UX design and project management.  She is passionate about bringing ideas to life and designing with intention.
      .links
        a(target="_blank" href="http://www.kerstinhuang.com/"): i.fa.fa-user
        a(target="_blank" href="mailto:kerstinh@uw.edu"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.linkedin.com/in/kerstin-huang-67698787"): i.fa.fa-linkedin-square
    .horiz-center
      .team.pure-u-1.pure-u-md-1-4
        != CDN('/img/team/ethan.png', { 'width': '100%' , 'class':'img-rounded'})
        h1 Ethan Jone
        h2 HR / Finance
        p Ethan is a freshman studying at the Foster School of Business, and has began working on his first venture. He is passionate for the creation aspect of entrepreneurship, and is a member of the Lavin Entrepreneurship Program. Ethan's interests include hiking, skateboarding, meditation, and exercising.
        .links
          a(target="_blank" href="mailto:ethansjone@gmail.com"): i.fa.fa-envelope-square
          a(target="_blank" href="https://www.facebook.com/ethansjone"): i.fa.fa-facebook-square
          a(target="_blank" href="https://www.linkedin.com/in/ethanjone"): i.fa.fa-linkedin-square
      .team.pure-u-1.pure-u-md-1-4
        != CDN('/img/team/shlok.jpg', { 'width': '100%' , 'class':'img-rounded'})
        h1 Shlok Asrani
        h2 Events
        p Shlok is an international freshman from Dubai, United Arab Emirates. Intending to major in Business with a concentration in Entrepreneurship, he's passionate about consulting strategy and small business development, and is excited by the startup scene here in Seattle. 
        .links
block footerimagecontent
  section#joinus   
    h3 Interested in joining the SUW Executive team?
    na No positions are currently available. We only consistently hire at the beginning of fall quarter—freshmen may send in applications at that time. Updates will be here when available.

