extends layout

block css
    link(rel='stylesheet', href='/css/team.css')

block splash
  .title
    h1= title.toUpperCase()

  .subtitle
    p Who we are and what we do.

block content

  .top
    h1 Meet Our Executives

  .container.pure-g
    .team.pure-u-1.pure-u-md-1-2
      != CDN('/img/dan2.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Daniel Ho
      h2 Co-President
      p Daniel is a junior pursuing Economics and Computer Science at the University of Washington. Last year he helped organize Bark Tank, the successful SUW version of shark tank. Last summer Daniel interned at HAUS, a digital production company in Hollywood, California. In his free time Daniel enjoys Magic the gathering, chess, and skateboarding.
      .links
        a(target="_blank" href="mailto:dansaiho@gmail.com"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/aBadHo"): i.fa.fa-facebook-square
        a(target="_blank" href="https://twitter.com/HOisPRO"): i.fa.fa-twitter-square
        a(target="_blank" href="https://www.linkedin.com/in/dansaiho"): i.fa.fa-linkedin-square
    .team.pure-u-1.pure-u-md-1-2
      != CDN('/img/matt.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Matt Koenig
      h2 Co-President
      p Matt is a Freshman at UW currently working on multiple projects in app development while earning degrees in Entrepreneurship and Information Systems at the Michael G. Foster School of Business. He joined the exec team in fall of 2015 and currently works on marketing projects for Startup UW.
      .links
        a(target="_blank" href="mailto:koenigmatt24@gmail.com"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/mattkoenig4?fref=ts"): i.fa.fa-facebook-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/ayush.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Ayush Saraf
      h2 Operations Director
      p Ayush is a sophomore intending to study Computer Science at UW. He has been very actively involved in the startup culture and has attended many Hackathons and conferences. He is also an executive member at Lavin Entrepreneurship Program. Ayush himself started a startup called <a target="_blank" href="http://justaced.com">Aced</a> that offers on-demand tutoring on UW campus.
      .links
        a(target="_blank" href="http://ayush.xyz"): i.fa.fa-user
        a(target="_blank" href="mailto:ayush29f@uw.edu"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/ayush29feb"): i.fa.fa-facebook-square
        a(target="_blank" href="https://www.linkedin.com/in/ayush29feb"): i.fa.fa-linkedin-square
        a(target="_blank" href="https://github.com/ayush29feb/"): i.fa.fa-github-square
        a(target="_blank" href="https://medium.com/@ayush29feb"): i.fa.fa-medium
        a(target="_blank" href="http://twitter.com/ayush29feb"): i.fa.fa-twitter-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/david.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 David Yuan 
      h2 Finance Director
      p Daniel is a junior in Computer Science, minoring in Math and Linguistics. He’s passionate about working on software products and projects with others as well as tackling challenging technical problems. Previously, he led the tech team of a Bitcoin startup and is currently interning at Wealthfront in Silicon Valley.
      .links
        a(target="_blank" href="http://danielfang.org"): i.fa.fa-user
        a(target="_blank" href="mailto:danfang@uw.edu"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/Fang.Dan"): i.fa.fa-facebook-square
        a(target="_blank" href="https://www.linkedin.com/in/danfang1"): i.fa.fa-linkedin-square
        a(target="_blank" href="https://github.com/danfang/"): i.fa.fa-github-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/mike.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Mike Guevarra
      h2 Public Relations Director
      p Mike is a Foster Business School student concentrating in Marketing and Information Systems. Some of his other interests include competing in business case competitions, weight training, and travel/street photography. Mike joined Startup UW because of the fun and productive atmosphere of the club.
      .links
        a(target="_blank" href="mailto:mikejguevarra@outlook.com"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/mike.guevarra.35"): i.fa.fa-facebook-square
        a(target="_blank" href="https://www.linkedin.com/in/mikejguevarra"): i.fa.fa-linkedin-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/nika.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Nika Stump
      h2 Operations Director
      p Short bio here
      .links
        a(target="_blank" href="https://www.facebook.com/riya.sf.3"): i.fa.fa-facebook-square
        a(target="_blank" href="https://www.linkedin.com/in/riyanath"): i.fa.fa-linkedin-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/trevor.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Wendy Leuhold
      h2 Operations Director
      p Short bio here
      .links
        a(target="_blank" href="mailto:kathytuan728@gmail.com"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/kathy.tuan.9"): i.fa.fa-facebook-square
        a(target="_blank" href="https://www.linkedin.com/in/kathy-tuan-400021b1"): i.fa.fa-linkedin-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/trevor.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Henry Davis
      h2 Design Director
      p Short Bio Here
      .links
        a(target="_blank" href="mailto:maksach@gmail.com"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/sachin.makaram"): i.fa.fa-facebook-square
        a(target="_blank" href="https://www.linkedin.com/in/sachinmakaram"): i.fa.fa-linkedin-square
        a(target="_blank" href="https://twitter.com/sachinmakaram"): i.fa.fa-twitter-square

    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/trevor.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Alisa Kean 
      h2 Marketing Director
      p Short Bio Here
      .links
        a(target="_blank" href="https://www.facebook.com/divye.p.jain"): i.fa.fa-facebook-square
        a(target="_blank" href="https://www.linkedin.com/in/dpjain"): i.fa.fa-linkedin-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/nihar.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Nihar Baxin
      h2 Public Relations
      p Short Bio Here
      .links
        a(target="_blank" href="mailto:dansaiho@gmail.com"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/aBadHo"): i.fa.fa-facebook-square
        a(target="_blank" href="https://twitter.com/HOisPRO"): i.fa.fa-twitter-square
        a(target="_blank" href="https://www.linkedin.com/in/dansaiho"): i.fa.fa-linkedin-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/trevor.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Thiemo loos
      h2 Operations Director
      p Short Bio Here      
      .links
        a(target="_blank" href="http://ayush.xyz"): i.fa.fa-user
        a(target="_blank" href="mailto:ayush29f@uw.edu"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/ayush29feb"): i.fa.fa-facebook-square
        a(target="_blank" href="https://www.linkedin.com/in/ayush29feb"): i.fa.fa-linkedin-square
        a(target="_blank" href="https://github.com/ayush29feb/"): i.fa.fa-github-square
        a(target="_blank" href="https://medium.com/@ayush29feb"): i.fa.fa-medium
        a(target="_blank" href="http://twitter.com/ayush29feb"): i.fa.fa-twitter-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/trevor.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Trevor Shibley
      h2 Technology 
      p Short Bio Here
      .links
        a(target="_blank" href="mailto:mikejguevarra@outlook.com"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/mike.guevarra.35"): i.fa.fa-facebook-square
        a(target="_blank" href="https://www.linkedin.com/in/mikejguevarra"): i.fa.fa-linkedin-square
