@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);
html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65); }

a:visited, a:link, a:active, a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65); }

#splash {
  width: 100%;
  min-height: 500px;
  font-family: "Helvetica Neue", sans-serif;
  color: #333;
  text-align: center;
  background-size: cover; }
  @media screen and (max-width: 1000px) {
    #splash {
      min-height: 450px; } }
  #splash #header {
    font-size: 0.95em;
    height: 60px;
    letter-spacing: .3em; }
    #splash #header #logo {
      margin-top: 10px;
      float: left;
      margin-left: 40px;
      display: inline-block; }
      @media screen and (max-width: 1000px) {
        #splash #header #logo {
          margin-left: 0;
          float: none; } }
      #splash #header #logo p {
        display: inline-block;
        margin-left: 15px; }
      #splash #header #logo img {
        vertical-align: middle;
        height: 45px;
        display: inline; }
    #splash #header #links {
      font-size: .8em;
      list-style: none;
      float: right;
      margin-right: 40px;
      padding: 0; }
      @media screen and (max-width: 1000px) {
        #splash #header #links {
          margin-right: 0;
          float: none; } }
      #splash #header #links li {
        text-decoration: none;
        display: inline-block;
        margin: 15px 9px 15px 9px; }
  #splash #splash-title {}
    #splash #splash-title .title {
      letter-spacing: .15em;
      font-size: 3em; }
      @media screen and (max-width: 1000px) {
        #splash #splash-title .title {
          font-size: 1.5em; } }
    #splash #splash-title .subtitle {
      letter-spacing: .15em;
      line-height: 2.5em;
      font-size: 1.5em;
      color: rgba(0, 0, 0, 0.65); }
      @media screen and (max-width: 1000px) {
        #splash #splash-title .subtitle {
          font-size: 1.1em; } }

section {
  max-width: 950px;
  margin: auto;
  min-height: 200px;
  text-align: center;
  padding: 30px 50px; }
  section h1 {
    font-weight: 600;
    font-size: 2em;
    color: #333; }
    @media screen and (max-width: 768px) {
      section h1 {
        font-size: 1.5em; } }
  section p {
    max-width: 700px;
    font-size: 0.95em;
    margin: 30px auto; }

.button {
  background-color: white;
  border: 1px solid;
  border-color: #c4c4c4;
  border-radius: 3px;
  color: #565a5c;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  min-width: 30px;
  text-decoration: none; }
  .button:active, .button:visited {
    color: rgba(0, 0, 0, 0.65); }
  .button:hover {
    border-color: #aaa; }
  .button.large {
    font-size: 1em;
    padding: 15px 30px; }
  .button.small {
    font-size: 0.7em;
    padding: 5px 10px; }
  .button.blue {
    background-color: #3D95CE;
    color: white; }

@media screen and (max-width: 1458px) {
  #footerimage {
      background-size: cover;
  }
}

#footerimage {
  background-image: url("/img/footer/footer-01.svg"), url("/img/footer/footer-02.svg");
  background-repeat: no-repeat, repeat-x;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 1458px) {
  #footerimage {
      background-image: url("/img/footer/footer-02.svg");
  }
}

#footersponsor a {
  color : #c4c4c4;
}

#footersponsor {
    background-color: #30393e;
    color: white;
    position: relative;
    top:430px;
    font-size: 0.95em;
    text-align: center;
    padding: 5px;
}

#footer {
  display: block;
  position: relative;
  top:455px;
  font-size: 0.95em;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  background-color: #30393e;
  text-align: center; }
  #footer a {
    color: white;
    font-size: 1.5em;
    margin: 0 10px;
    transition: all .15s;
    -webkit-transition: all .15s; }
    #footer a li {
      display: inline;
      margin: 15px; }
    #footer a:hover {
      color: #aaaaaa; }

.horiz-center {
    text-align: center;
}

.verticalgrid {
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: center; }
  .verticalgrid img {
    margin: 10px;
    height: 100%; }
  .verticalgrid a {
    color: #33ccff;
    text-decoration: none; }
    .verticalgrid a:hover, .verticalgrid a:visited, .verticalgrid a:link, .verticalgrid a:active {
      color: #33ccff;
      text-decoration: none;
      cursor: pointer; }
  .verticalgrid h1 {
    font-weight: 500;
    font-size: 2em;
    padding-top: 10px;
    margin: 0px; }
  .verticalgrid h2 {
    font-weight: 300;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px; }
  .verticalgrid p {
    margin: 5px;
    padding: 10px;
    font-size: .85em; }
  .verticalgrid .links a {
    color: rgba(0, 0, 0, 0.65);
    font-size: 1.5em;
    margin: 0 10px; }
    .verticalgrid .links a:hover {
      background-color: #3D95CE;
      color: white; }
    
.img-circular {
  border-radius: 50%; 
}

.img-rounded {
  border-radius: 5px;
}

.dark {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: white !important;
  background-color: #1d1f21 !important;
}

.blue {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: white !important;
  background-color: #43c7f2;
}

@media screen and (max-width: 891px) {
  .pure-u-1 {
      margin-right: 15px;
      margin-left: 15px;
  }

@media screen and (max-width: 769px) {
  .pure-u-1 img {
      max-width: 50%;
  }
}