@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);
#splash {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/img/default.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 70px; }
  @media screen and (max-width: 768px) {
    #splash #links a {
      color: white; } }
  #splash #splash-title {
    margin-top: 0px; }
    #splash #splash-title .title {
      color: white; }
      #splash #splash-title .title h1 {
        margin-top: 150px;
        font-size: 1.75em; }
        @media screen and (max-width: 768px) {
          #splash #splash-title .title h1 {
            margin-top: 120px; } }
    #splash #splash-title .subtitle {
      color: white; }

section {
  text-align: center;
  padding: 30px 50px; }
  section h1 {
    font-weight: 600;
    font-size: 2.2em; }

#all-events {
  min-width: 600px;
  width: 60%;
  margin: 80px auto 0 auto;
  text-align: center; }
  #all-events .event {
    margin-bottom: 50px;
    margin-top: 10px;
    text-align: left; }
    #all-events .event .name, #all-events .event .description {
      padding-right: 25px; }
    #all-events .event .location, #all-events .event .at {
      font-size: .8em;
      font-weight: 400;
      margin-bottom: 3px; }
    #all-events .event .name {
      font-weight: 800;
      margin-top: 10px;
      padding-bottom: 10px;
      font-size: 1.1em; }
      #all-events .event .name:hover {
        color: #33ccff; }
    #all-events .event img {
      margin-top: 15px;
      width: 90%; }
    #all-events .event .description {
      margin-top: 10px;
      font-size: .85em; }

.pagination {
  text-align: center;
  padding: 0;
  margin-bottom: 40px; }
  .pagination li {
    display: inline-block;
    margin: 0 8px;
    text-decoration: none; }
    .pagination li a {
      transition: background-color .3s;
      color: #333; }
    .pagination li a.active {
      font-weight: 800; }
    .pagination li a:hover {
      font-weight: 600; }
