@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);
#splash {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/img/default.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 70px; }
  @media screen and (max-width: 768px) {
    #splash #links a {
      color: white; } }
  #splash #splash-title {
    margin-top: 0px; }
    #splash #splash-title .title {
      color: white; }
      #splash #splash-title .title h1 {
        margin-top: 150px;
        font-size: 1.75em; }
        @media screen and (max-width: 768px) {
          #splash #splash-title .title h1 {
            margin-top: 120px; } }
    #splash #splash-title .subtitle {
      color: white; }

section {
  text-align: center;
  padding: 30px 50px; }
  section h1 {
    font-weight: 600;
    font-size: 2.2em; }

#all-events {
  width: 100%;
  margin: 80px auto;
  overflow: hidden;
  display: inline-block; }
  #all-events .event {
    margin-bottom: 50px;
    width: 80%;
    margin-top: 10px;
    margin-left: 10%; }
    #all-events .event .location, #all-events .event .at {
      padding-left: 10px; }
    #all-events .event .name {
      font-weight: 900;
      margin-top: 10px;
      padding-left: 4px;
      padding-bottom: 10px;
      font-size: 30px; }
      #all-events .event .name:hover {
        color: #33ccff; }
    #all-events .event .fa {
      margin-right: 7px; }
    #all-events .event .img {
      padding: 20px; }
    #all-events .event .description {
      margin-top: 10px;
      padding-left: 10px;
      padding-right: 10px; }
