@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);
html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #333; }

#splash {
  width: 100%;
  height: 600px;
  font-family: "Helvetica Neue", sans-serif;
  color: #333;
  text-align: center;
  background-size: cover; }
  #splash #header {
    font-size: 1em;
    height: 60px;
    letter-spacing: .3em; }
    #splash #header #logo {
      display: inline-block;
      left: 30px;
      position: absolute;
      margin-top: 10px; }
      #splash #header #logo p {
        display: inline-block;
        margin-left: 15px; }
      #splash #header #logo img {
        vertical-align: middle;
        height: 45px;
        display: inline; }
    #splash #header #links {
      display: inline-block;
      right: 40px;
      position: absolute;
      font-size: .8em;
      margin-top: 25px; }
      #splash #header #links a li {
        display: inline;
        margin: 15px; }
      #splash #header #links a:hover, #splash #header #links a:visited, #splash #header #links a:link, #splash #header #links a:active {
        text-decoration: none;
        color: #333; }
  #splash #splash-title {
    margin-top: 130px; }
    #splash #splash-title .title {
      letter-spacing: .3em;
      font-size: 3em; }
    #splash #splash-title .subtitle {
      letter-spacing: .15em;
      font-size: 1.5em; }

section {
  max-width: 950px;
  margin: auto;
  min-height: 200px; }
  section p {
    max-width: 700px;
    margin: 25px auto; }

.button {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #aaa;
  text-decoration: none;
  background-color: white;
  margin: 0 10px;
  border-radius: 3px;
  display: inline-block;
  min-width: 30px; }
  .button.large {
    font-size: 1.2em;
    padding: 10px 20px; }
  .button.small {
    font-size: 0.75em;
    padding: 5px 10px; }

#footer {
  font-size: 1em;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  background-color: #30393e;
  text-align: center; }
  #footer a {
    color: white;
    font-size: 1.5em;
    margin: 0 10px; }
