@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);
html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8); }

a:visited, a:link, a:active, a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8); }

#splash {
  width: 100%;
  height: 600px;
  font-family: "Helvetica Neue", sans-serif;
  color: #333;
  text-align: center;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    #splash {
      height: 500px; } }
  #splash #header {
    font-size: 1em;
    height: 60px;
    letter-spacing: .3em; }
    #splash #header #logo {
      margin-top: 10px;
      float: left;
      margin-left: 40px;
      display: inline-block; }
      @media screen and (max-width: 768px) {
        #splash #header #logo {
          margin-left: 0;
          float: none; } }
      #splash #header #logo p {
        display: inline-block;
        margin-left: 15px; }
      #splash #header #logo img {
        vertical-align: middle;
        height: 45px;
        display: inline; }
    #splash #header #links {
      font-size: .8em;
      list-style: none;
      float: right;
      margin-right: 40px;
      padding: 0; }
      @media screen and (max-width: 768px) {
        #splash #header #links {
          margin-right: 0;
          float: none; } }
      #splash #header #links li {
        text-decoration: none;
        display: inline-block;
        margin: 15px; }
  #splash #splash-title {
    margin-top: 100px;
    padding: 10px; }
    #splash #splash-title .title {
      letter-spacing: .3em;
      font-size: 3em; }
      @media screen and (max-width: 768px) {
        #splash #splash-title .title {
          font-size: 1.5em; } }
    #splash #splash-title .subtitle {
      letter-spacing: .15em;
      font-size: 1.5em; }

section {
  max-width: 950px;
  margin: auto;
  min-height: 200px;
  text-align: center;
  padding: 30px 50px; }
  section h1 {
    font-weight: 600;
    font-size: 2em;
    color: #333; }
    @media screen and (max-width: 768px) {
      section h1 {
        font-size: 1.5em; } }
  section p {
    max-width: 700px;
    margin: 25px auto; }

.button {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #aaa;
  text-decoration: none;
  background-color: white;
  border-radius: 3px;
  display: inline-block;
  min-width: 30px;
  font-weight: 600d;
  color: rgba(0, 0, 0, 0.8); }
  .button:active, .button:visited {
    color: rgba(0, 0, 0, 0.8); }
  .button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white; }
  .button.large {
    font-size: 1em;
    padding: 10px 20px; }
  .button.small {
    font-size: 0.7em;
    padding: 5px 10px; }

#footer {
  font-size: 1em;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  background-color: #30393e;
  text-align: center; }
  #footer a {
    color: white;
    font-size: 1.5em;
    margin: 0 10px;
    transition: all .15s;
    -webkit-transition: all .15s; }
    #footer a li {
      display: inline;
      margin: 15px; }
    #footer a:hover {
      color: #aaaaaa; }
