@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);
.events {
  width: 100%;
  max-width: 500px;
  display: inline-block; }
  .events .event {
    border-left: 7px solid #33ccff;
    padding: 5px;
    margin-bottom: 35px; }
    .events .event .location, .events .event .at, .events .event .name {
      margin-bottom: 10px; }
    .events .event .name {
      margin-top: 0;
      font-weight: 600; }
    .events .event .fa {
      margin-right: 7px; }

#launch-overview p, #launch-overview .button {
  text-align: left; }
  @media screen and (max-width: 768px) {
    #launch-overview p, #launch-overview .button {
      text-align: center; } }

#partners ul {
  text-align: center;
  list-style: none;
  padding-left: 0; }
  #partners ul li {
    display: inline;
    margin: 0 50px; }
    #partners ul li img {
      max-height: 100px; }
