@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

#header {
  font-size: 1em;
  width: 100%;
  height: 60px;
  color: white;
  letter-spacing: .3em; }
  #header #logo {
    display: inline-block;
    left: 40px;
    position: absolute;
    margin-top: 10px; }
  #header #links {
    display: inline-block;
    right: 40px;
    position: absolute;
    font-size: .7em;
    margin-top: 25px; }
    #header #links a {
      color: white; }
      #header #links a li {
        display: inline;
        margin: 15px; }
      #header #links a:hover, #header #links a:visited, #header #links a:link, #header #links a:active {
        text-decoration: none; }

#splash {
  width: 100%;
  height: 600px;
  margin-top: -60px;
  background-image: url(url();
  font-family: "Helvetica Neue", sans-serif;
  color: white; }
  #splash #splash-img {
    height: 100%;
    width: 100%; }
  #splash #splash-title {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 450px;
    margin: auto; }
    #splash #splash-title .title {
      letter-spacing: .3em;
      font-size: 3em; }
    #splash #splash-title .subtitle {
      letter-spacing: .15em;
      font-size: 1.5em; }

#footer {
  font-size: 1em;
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: #30393e;
  text-align: center; }
  #footer a {
    color: white;
    font-size: 1.5em;
    margin: 0 10px; }
    #footer a li {
      display: inline;
      margin: 15px; }
    #footer a:visited, #footer a:link, #footer a:active {
      text-decoration: none; }
