@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);
#splash #splash-title {
  margin-top: 0; }

.background-image {
  padding: 50px;
  z-index: 1;
  display: block;
  background-image: url("/img/team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px; }
  .background-image .title {
    color: white;
    z-index: 9999; }
  .background-image .subtitle {
    color: white;
    z-index: 9999; }

section {
  text-align: center;
  padding: 30px 50px; }
  section h1 {
    font-weight: 600;
    font-size: 3.2em;
    margin: 0px; }
  section h2 {
    padding-top: 30px;
    font-weight: 300;
    margin-top: 50px; }
  section img {
    margin: 10px; }

.top h1 {
  color: #33ccff; }

.team-name {
  text-align: left;
  padding: 10px;
  margin: 0px;
  min-height: 0px; }
  .team-name h2 {
    font-weight: 400;
    padding-top: 10px;
    margin: 0; }

.team {
  width: 95%;
  padding: 10px;
  padding-top: 0px; }
  .team img {
    width: 60%; }
  .team a {
    color: #33ccff;
    text-decoration: none; }
    .team a:hover, .team a:visited, .team a:link, .team a:active {
      color: #33ccff;
      text-decoration: none;
      cursor: pointer; }
  .team h1 {
    font-weight: 500;
    font-size: 2em;
    padding-top: 10px;
    margin: 0px; }
  .team h2 {
    font-weight: 300;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px; }
  .team p {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px; }
  .team #links a {
    color: #333;
    font-size: 1.5em;
    margin: 0 10px; }
    .team #links a:hover {
      color: #33ccff; }
