extends layout

block css
    link(rel='stylesheet', href='/css/home.css')

block splash
  .title
    h1= title.toUpperCase()

  .subtitle
    p build skills &bull; meet people &bull; make things

block content

  section
    h1 We're a student community driven by startup culture

    p Startup UW is the University of Washington's largest student organization dedicated to entrepreneurship across all industries.

  section
    h1 Our mission is to inspire others and lead change

    p Lorem ipsum dolor sit amet, qui lucilius euripidis persecuti an, iudico delectus ullamcorper ut pro. Mea et soluta timeam, no pro utamur fabellas consectetuer.

    img(src="/img/home-1.jpg" width="100%")

  section
    h1 Attend our upcoming events

  section
    h1 Showcase your projects with Launch

    img(src="/img/launch.png" width="100%")
