extends layout

block css
    link(rel='stylesheet', href='/css/home.css')

block splash
  .title
    h1= title.toUpperCase()

  .subtitle
    p Start something today.


block content

  section
    h1 Mission

    p Lorem ipsum dolor sit amet, qui lucilius euripidis persecuti an, iudico delectus ullamcorper ut pro. Mea et soluta timeam, no pro utamur fabellas consectetuer.

  section
    h1 Events

  section
    h1 Launch
