doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/css/layout.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")

    block css
    block scripts

  body
    #splash
      #header
        #logo
          p STARTUP UW

        ul#links
          a(href="/")
            li HOME
          a(href="/events")
            li EVENTS
          a(href="/about")
            li ABOUT
          a(href="/team")
            li TEAM
          a(href="/blog")
            li BLOG

      #splash-title
        block splash

    #content
      block content

    #footer
      #social
        a(href="https://www.facebook.com/StartupUW/"): i.fa.fa-facebook-square
        a(href="https://twitter.com/startupuw"): i.fa.fa-twitter-square
        a(href="https://instagram.com/startupuw/"): i.fa.fa-instagram
        a(href="mailto:team@startupuw.com"): i.fa.fa-envelope-square
        a(href="http://blog.startupuw.com"): i.fa.fa-pencil-square
        a(href="http://launch.startupuw.com"): i.fa.fa-rocket
