doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/css/layout.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

    block css
    block scripts

  body
    #header
      #logo
        p STARTUP UW

      ul#links
        a(href="/")
          li HOME
        a(href="/about")
          li ABOUT
        a(href="/team")
          li TEAM
        a(href="#footer")
          li CONTACT

    #splash
      - var defaultImage = 'https://images.unsplash.com/photo-1444927714506-8492d94b4e3d?fit=crop&fm=jpg&h=800&ixjsv=2.0.0&ixlib=rb-0.3.5&q=80&w=1450';
      img#splash-img(src="#{splashImage != null ? splashImage : defaultImage }")

      #splash-title
        block splash

    #content
      block content

    #footer
      #social
        a(href="https://www.facebook.com/StartupUW/"): i.fa.fa-facebook-square
        a(href="https://twitter.com/startupuw"): i.fa.fa-twitter-square
        a(href="https://instagram.com/startupuw/"): i.fa.fa-instagram
        a(href="mailto:team@startupuw.com"): i.fa.fa-envelope-square
        a(href="http://launch.startupuw.com"): i.fa.fa-rocket
