doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/layout.css')

    block css
    block scripts

  body
    #header
      #logo
        p STARTUP UW

      ul#links
        a(href="/")
          li HOME
        a(href="/about")
          li ABOUT
        a(href="/team")
          li TEAM
        a(href="#footer")
          li CONTACT

    #splash
      .title
        block splash

    #content
      block content

    #footer
      p Contact
