extends layout

block css
    link(rel='stylesheet', href='/css/team.css')

block splash
  .title
    h1= title.toUpperCase()

block content

  .top
    h1 Meet Our Executives

  .container.pure-g
    .team.pure-u-1.pure-u-md-1-2
      != CDN('/img/malia.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Malia Imayama
      h2 Co-President
      p Malia is a Junior pursuing Japanese as well as Graphic Design. With experience in marketing from Startup UW, Lyft and State Farm, she is also currently on the organizing team for DubHacks as a Logistics Director. With a passion in entrepreneurship, dance and photography, she loves exploring new things.
      .links
        a(target="_blank" href="https://www.facebook.com/StartupUW/"): i.fa.fa-facebook-square
        a(target="_blank" href="https://twitter.com/startupuw"): i.fa.fa-twitter-square
        a(target="_blank" href="https://instagram.com/startupuw/"): i.fa.fa-instagram
        a(target="_blank" href="mailto:team@startupuw.com"): i.fa.fa-envelope-square
    .team.pure-u-1.pure-u-md-1-2
      != CDN('/img/mahir.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Mahir Kothary
      h2 Co-President
      p Mahir is a junior studying Computer Science with a minor in Entrepreneurship. He has previously interned at Shippable, VMware, and IBM and is currently an executive board member for DubHacks. Mahir loves taking on projects related to programming and hardware and is especially interested in IoT and Big Data. He also enjoys EDM and blending art and technology through digital photography.
      .links
        a(target="_blank" href="https://www.facebook.com/StartupUW/"): i.fa.fa-facebook-square
        a(target="_blank" href="https://twitter.com/startupuw"): i.fa.fa-twitter-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/eric.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Eric Wang
      h2 Operations Director
      p Eric is a junior studying Finance and Information Systems in the Foster School of Business. He has immersed himself in startup culture through his professional experience, working for both startup companies and for a startup incubator. Eric’s free time consists of playing sports (soccer, basketball, tennis), exploring the outdoors and city, and binge watching Netflix.
      .links
        a(target="_blank" href="https://www.facebook.com/StartupUW/"): i.fa.fa-facebook-square
        a(target="_blank" href="https://twitter.com/startupuw"): i.fa.fa-twitter-square
        a(target="_blank" href="https://instagram.com/startupuw/"): i.fa.fa-instagram
        a(target="_blank" href="mailto:team@startupuw.com"): i.fa.fa-envelope-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/dan.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Daniel Fang
      h2 Technology Director
      p Daniel is a junior in Computer Science, minoring in Math and Linguistics. He’s passionate about working on software products and projects with others as well as tackling challenging technical problems. Previously, he led the tech team of a Bitcoin startup and is currently interning at Wealthfront in Silicon Valley.
      .links
        a(target="_blank" href="https://www.facebook.com/StartupUW/"): i.fa.fa-facebook-square
        a(target="_blank" href="https://twitter.com/startupuw"): i.fa.fa-twitter-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/vard.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Vardhman Mehta
      h2 Technology & Finance Director
      p Vardhman is a sophomore majoring in Computer Science with a minor in Math. He enjoys working on cool software projects and has a growing interest in Machine Learning and Software Security. He has previously interned at Clevertap, Larsen & Toubro and an early age Tour & Travel startup. His other hobbies include photography, badminton and long distance driving.
      .links
        a(target="_blank" href="mailto:mehtav@uw.edu"): i.fa.fa-envelope-square
        a(target="_blank" href="https://www.facebook.com/vardhman1996/"): i.fa.fa-facebook-square
        a(target="_blank" href="https://www.linkedin.com/in/vardhmanm"): i.fa.fa-linkedin-square
        a(target="_blank" href="https://github.com/vardhman1996"): i.fa.fa-github-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/riya.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Riya Nath
      h2 Operations Director
      p Riya is a junior studying Integrated Sciences with a minor in Entrepreneurship. Her passion is healthcare innovation, with a focus on improving patient-centered care. She has both clinical and biotech experience and works to bring awareness about healthcare-based entrepreneurship opportunities to the UW community. In her free time, Riya runs a dental philanthropy club, and interns with the ASUW.
      .links
        a(target="_blank" href="https://www.facebook.com/StartupUW/"): i.fa.fa-facebook-square
        a(target="_blank" href="https://twitter.com/startupuw"): i.fa.fa-twitter-square
        a(target="_blank" href="https://instagram.com/startupuw/"): i.fa.fa-instagram
        a(target="_blank" href="mailto:team@startupuw.com"): i.fa.fa-envelope-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/kathy.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Kathy Tuan
      h2 Marketing Director
      p Kathy is a junior going for Microbiology with Entrepreneurship minor. She is currently an undergrad researcher at UW Medicine SLU and interned internationally at Kaohsiung Medical University in Taiwan working on liver cancer animal model research. She loves marketing, design and looks for opportunities to put science and business side by side.
      .links
        a(target="_blank" href="https://www.facebook.com/StartupUW/"): i.fa.fa-facebook-square
        a(target="_blank" href="https://twitter.com/startupuw"): i.fa.fa-twitter-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/sachin.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Sachin Makaram
      h2 Operations Director
      p Sachin is a sophomore pursuing Computer Science and Engineering. He loves working on personal web and mobile app development projects. Previously, he has interned at a Silicon Valley startup, Moxtra, as a Software Developer, and loves the startup atmosphere. Coming from the Bay Area, he loves sightseeing Seattle and exploring the outdoors.
      .links
        a(target="_blank" href="https://www.facebook.com/StartupUW/"): i.fa.fa-facebook-square
        a(target="_blank" href="https://instagram.com/startupuw/"): i.fa.fa-instagram
        a(target="_blank" href="mailto:team@startupuw.com"): i.fa.fa-envelope-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/divye.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Divye Pratap Jain
      h2 Marketing & Technology Director
      p Divye is currently a CS major, with a lot of interest in Math. Divye likes to try out new things and have lot of fun. His hobbies include swimming, soccer, table tennis, a bit of pool and his favorite: card magic. Divye is currently planning on entering the field of AI, specifically Machine Learning.
      .links
        a(target="_blank" href="https://www.facebook.com/StartupUW/"): i.fa.fa-facebook-square
        a(target="_blank" href="https://twitter.com/startupuw"): i.fa.fa-twitter-square
        a(target="_blank" href="https://instagram.com/startupuw/"): i.fa.fa-instagram
        a(target="_blank" href="mailto:team@startupuw.com"): i.fa.fa-envelope-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/daniel.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Daniel Ho
      h2 Operations Director
      p Daniel is a junior pursuing Economics and Computer Science at the University of Washington. Last year he helped organize Bark Tank, the successful SUW version of shark tank. Last summer Daniel interned at HAUS, a digital production company in Hollywood, California. In his free time Daniel enjoys Magic the gathering, chess, and skateboarding.
      .links
        a(target="_blank" href="https://www.facebook.com/StartupUW/"): i.fa.fa-facebook-square
        a(target="_blank" href="https://twitter.com/startupuw"): i.fa.fa-twitter-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/ayush.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Ayush Saraf
      h2 Technology Director
      p Ayush is a sophomore intending to studying Computer Science at UW. He has been very actively involved in the startup culture and has attended many Hackathons and conferences. He is also an executive member at Lavin Entrepreneurship Program. Ayush himself started a startup called <a target="_blank" href="http://justaced.com">Aced</a> that offers on-demand tutoring on UW campus.
      .links
        a(target="_blank" href="https://www.facebook.com/StartupUW/"): i.fa.fa-facebook-square
        a(target="_blank" href="https://instagram.com/startupuw/"): i.fa.fa-instagram
        a(target="_blank" href="mailto:team@startupuw.com"): i.fa.fa-envelope-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/mike.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Mike Guevarra
      h2 Freshmen Representative
      p Mike is a Foster Business School student concentrating in Marketing and Information Systems. Some of his other interests include competing in business case competitions, weight training, and travel/street photography. Mike joined Startup UW because of the fun and productive atmosphere of the club.
      .links
        a(target="_blank" href="https://www.facebook.com/StartupUW/"): i.fa.fa-facebook-square
        a(target="_blank" href="https://twitter.com/startupuw"): i.fa.fa-twitter-square
    .team.pure-u-1.pure-u-md-1-3
      != CDN('/img/krish.jpg', { 'width': '100%' , 'class':'img-rounded'})
      h1 Krishang Swami
      h2 Designer
      p Lorem ipsum dolor sit amet, sea noster nostro labitur ex. Ne vix causae luptatum, in ludus consectetuer qui, ea mel suas everti rationibus. Homero inermis eum eu.
      .links
        a(target="_blank" href="https://www.facebook.com/StartupUW/"): i.fa.fa-facebook-square
        a(target="_blank" href="https://twitter.com/startupuw"): i.fa.fa-twitter-square
