extends layout

block css
    link(rel='stylesheet', href='/css/team.css')

block splash
  .title
    h1= title.toUpperCase()

  .subtitle
    p Something about the team! We are amazing!

block content

  section
    h2 Meet our team
    h1 Our Geniuses

  section.profile
    p hello


   

