extends layout

block css
    link(rel='stylesheet', href='/css/team.css')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin="anonymous")

block splash
  .title
    h1= title.toUpperCase()

  .subtitle
    p Something about the team! We are amazing!

block content

  section
    h2 Meet our team
    h1 Our Geniuses

  .row
      .col-md-4
        section.team
          img(src="/img/eric.jpg" width = "40%")
          p.
            Jon started Betterment after years of consulting for Wall Street’s biggest financial institutions. He studied economics at Harvard University and finance at Columbia Business School. He is a CFA® charterholder.
      .col-md-4
        section.team
          img(src="/img/dan.jpg" width="42%")
          p.
            Jon started Betterment after years of consulting for Wall Street’s biggest financial institutions. He studied economics at Harvard University and finance at Columbia Business School. He is a CFA® charterholder.
      .col-md-4
        section.team
          img(src="/img/vard.jpg" width="40%")
          p.
            Jon started Betterment after years of consulting for Wall Street’s biggest financial institutions. He studied economics at Harvard University and finance at Columbia Business School. He is a CFA® charterholder.      	


   

