extends layout

block css
    link(rel='stylesheet', href='/css/team.css')

block splash
  .title
    h1= title.toUpperCase()

  .subtitle
    p Our #{title.toLowerCase()}

block content

   section
    h2 We
    h1 WORK
    h2 as a team
   

